/* Geral */
*{
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Raleway",sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

main{
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.formRequired{
  color: red;
}

a {
  color: #fff;
  font-weight: 700;
}

p {
  line-height: 1.5;
  text-align: justify;
}

h2{
  text-align: center;
  color: #333;
}

/* li{
  text-align: justify;
} */

.center {
  text-align: center !important;
}

/* Cabeçalho */
header {
  background-color: #3FB8AF;
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
}

#navHeader li {
  display: inline-block;
  margin: 0 10px 0 10px;
  transition: all 0.3s;
}

#navHeader li:hover{
  font-size: 19px;
  padding: 0 12px 0 12px;
  transition: all 0.3s;
  cursor: pointer;
}

#logo {
  width: auto;
  display: flex;
  justify-content: left;
}

#logo img {
  margin-top: 3%;
  margin-left: 5%;
}

.active a{
  color: rgb(255, 61, 127);
}

/* Footer */
footer {
  background-color: rgb(63, 184, 175);
  display: flex;
  width: 100%;
  margin-top: 100px;
  font-size: 14px;
  justify-content: space-between;
}

footer p{
  color: #fff;
  font-weight: bold;
  width: 33.3%;
  text-align: right;
  margin-right: 40px;
}

footer ul {
  width: auto;
  display: inline-block;
}

ul.listaLista {
  justify-content: flex-start;
  padding: 0 0 ;
  width: 33.3%;
}

#divFooter {
  width: 33.3%;
  display: flex;
  justify-content: space-between;
  color: #fff;
}


/* Conteúdos */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

/* Página inicial */
#destaque {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

#destaque h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

#destaque p {
  font-size: 18px;
  margin-bottom: 20px;
}

#destaque img {
  max-width: 100%;
  margin-bottom: 20px;
}

.pet{
  height: 435px;
  width: 720px;
}

/* - - - - Página Atividades - - - - */
#atividades img{
  height: 435px;
  width: 720px;
}

#atividades ul{
  text-align: justify;
}

/* - - - - Página Localização - - - - */
#mapa {
  width: 100%;
  height: 400px;
  border: 0;
}

/* - - - - Página Contato - - - - */
form {
  background-color: rgb(63 184 175 / 60%);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

form label {
  display: block;
  margin-bottom: 10px;
}

form textarea {
  width: 20%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
}

.intext{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: baseline;
  margin: 15px;
}

.opcao{
  display: flex;
  align-items: baseline;
  text-align: center;
  justify-content: flex-start;
}

/* confirmaContato */
.mainAgrad{
  text-align: center;
  align-items: center;
  display: block;
}
.mainAgrad img{
  text-align: center;
  width: 30%;
  margin: 50px 0 50px 0;
}

.mainAgrad h2{
  margin-top: 100px;
}

.mainAgrad p{
  text-align: center;
}

@media only screen and (max-width: 768px) {
  /* Estilo para mobile */
  header {
    height: auto;
    width: auto;
    padding: 20px 2%;
  }

  header #navHeader{
    position: absolute;
    display: block;
  }

  a#logo{
    width: auto;
  }

  #navheader ul{
    width: 70%;
    font-size: 70%;
  }

  #logo img {
    margin-top: 0%;
    width: 60%;
    height: 50px;
    margin-right: 0;
  }

  img.pet{
    width: 80%;
    height: 80%;
  }

  nav {
    top: 75px;
    left: 0;
    right: 0;
    background-color: #2d2d2d;
    padding: 20px 2%;
  }

  footer{
    background-color: rgb(63, 184, 175);
    padding: 20px 2%;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-end;
  }

  nav li {
    margin: 10px 0;
  }

  nav a {
    font-size: 70%;
  }

  .active {
    color: #fed136;
  }

  .toggle {
    position: absolute;
    top: 20px;
    right: 2%;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url('Midias/menu.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .show {
    display: block;
  }

  .pet {
    height: 300px;
  }

  .mobile{
    margin-top: 100px;
  }

  #atividades{
    margin-top: 100px;
  }

  #atividades p, li{
    text-align: left;
  }

  .imgMobile{
    width: 80%;
    height: 80%;
  }

  #atividades img{
    width: 80%;
    height: 80%;
  }

  input#nome, #email, #telefone, #assunto, #mensagem{
    width: 80%;
  }

  form{
    padding: 5px;
  }

  form ul{
    padding: 0;
  }
}

